@import url('https://fonts.googleapis.com/css?family=Open+Sans|Prata');

$primary-font: 'Open Sans', sans-serif;
$second-font: 'Prata', serif;

// Media Queries
$small-screen: 768px;
$big-screen: 1024px;