doctype html
html
	head
		title Fleur Framework
		link(rel='stylesheet', href='/styles/index.css')
	body
		.navBackground
			include partials/navigation
			main.headerSection
				.header
					h2 Welcome Fleur Technologies
		include partials/footer